<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.onepagelibrary">
    <application
        >
        <activity android:name=".activity.HuadongActivity"/>
        <activity android:name="com.example.administrator.onepagelibrary.MainActivity"
            android:theme="@style/ActivityShowTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>